/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yes-btn-container, .no-btn-container {
    display: flex;
}

/* Styling for the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Wrapper styling to center the content */
.wrapper {
    text-align: center;
}

/* Styling for the GIF */
.gif {
    max-width: 50%; /* Limits the width of the GIF */
    max-height: auto; /* Maintains the aspect ratio */
    display: block; /* Allows horizontal centering */
    margin: auto; /* Centers the GIF horizontally */
}

/* Styling for the heading */
h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

/* Styling for the message paragraph */
.message {
    font-size: 1.2em;
    color: #e94d58;
    margin-top: 10px;
}

/* Styling for the button group */
.btn-group {
    display: flex;
    justify-content: space-around; /* Aligns buttons with space between */
    margin-top: 50px;
}

/* Styling for buttons */
button {
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    background: #e94d58;
    position: relative; /* Changed to relative */
}

/* Styling for the "No" button specifically */
button.no-btn {
    background: white;
    color: #e94d58;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .btn-group {
        flex-direction: column;
    }

    button {
        margin: 10px 0; /* Adjusts margin for smaller screens */
    }
}
